#lightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    position: relative;
    width: 100%;
    margin: auto;
}

#lbImages {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
}

#lbImages img {
    width: 300px;
    height: auto;
    margin: 0 10px; 
    transition: transform 0.3s, width 0.3s; 
    border: 2px solid #ff4000;
}

#lbImages img.centered {
    width: 300px; 
    transform: scale(1.5);
}

#lbImages img:hover {
    opacity: 0.5;
}

.lightbox-img {
    width: 192px;
    height: 108px;
    margin: 5px;
}

#lbPrev, #lbNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

#lbPlay {
    background-color: #ff4000; 
    color: white;
    border: solid 2px #ffffff;
    border-radius: 50%;
    margin: 0 10px;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

#lbPlay:hover {
    background-color: #751c01;
}

.play-container {
    padding: 10px;
}

.pause-container {
    padding-top: 11px;
}

.play-button {
    font-size: 20px;
    padding-left: 4px;
}

.pause-button {
    font-size: 13px;
}

#lbPrev, #lbNext {
    margin-top: 100px;
}

#lbPrev {
    left: -50px;
}

#lbNext {
    right: -50px;
}